.divInput {
  margin-top: 0.25rem;
  padding: 0.5rem 1rem;
  clear: both;
}

.divInput input {
  display: block;
  margin-top: 0.25rem;
  padding: 0.5rem 0.75rem;
  border: 1px solid var(--color-gray-light);
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  transition: 150ms border-color linear;
}

.divInput input[type='radio'] {
  display: inline-block;
  width: auto;
}

.divInput input[type='radio']:not(:first-of-type) {
  margin-left: 1rem;
}

.divInput input:focus,
.divInput input:active {
  border-color: var(--color-gray-medium);
}

.divInput label,
.divEndereco label {
  display: block;
  color: var(--color-gray-dark);
  font-family: Lato, sans-serif;
  font-size: 90%;
  line-height: 1.125;
}

input.cep {
  width: 40%;
}

.loko {
  background: #f000f0;
}

.divEndereco * {
  width: auto;
  display: inline-block;
}

.divEndereco {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.25rem;
}

div.endereco.bairro,
div.endereco.endereco {
  width: 100%;
}

div.endereco.numero {
  width: 50%;
}

.divInput input[type='button']:not(.adicionar) {
  display: block;
  margin: 0.5rem 1rem 0;
  padding: 0 1rem 0.125rem;
  background-color: var(--color-gray-medium);
  border: 0;
  color: var(--color-lightest);
  font-family: lato, sans-serif;
  font-size: 100%;
  letter-spacing: 0.05em;
  line-height: 1.5;
  text-transform: uppercase;
  transition: 150ms all linear;
}

.divInput .botaoAcao {
  float: left;
  width: 48%;
  padding: 0 1rem 0.125rem;
  background-color: var(--color-gray-medium);
  border: 0;
  color: var(--color-lightest);
  font-family: lato, sans-serif;
  font-size: 100%;
  letter-spacing: 0.05em;
  line-height: 1.5;
  text-transform: uppercase;
  transition: 150ms all linear;
}
